In [2]:
import pandas as panda

print(panda.__version__)

usersData = {
    "name": ["mano", "uma", "krishna", "vasantha"],
    "age": [20, 21, 22, 23],
    "gender": ["male", "female", "male", "male"],
    "salary": [10000, 20000, 30000, 40000],
    "city": ["bangalore", "chennai", "covai", "trichy"]
}

dataFrame_userData = panda.DataFrame(usersData)
dataFrame_userData.index = ["alpha", "beta", "gamma", "delta"]


filter_age = dataFrame_userData["age"] > 22
sorted_age = dataFrame_userData.sort_values(by="age", ascending=False)

grouping = sorted_age.groupby("gender").agg({"salary": "sum", "age": "mean"})

grouping_pivot = dataFrame_userData.pivot_table(index="name", values="salary", aggfunc="sum")

print(usersData, "\n", dataFrame_userData)

print("filter Data set")
print(dataFrame_userData[filter_age])

print("\n sorted Data set")
print(sorted_age)

print("\n grouping Data set")
print(grouping)

print("\n grouping Pivot table")
print(grouping_pivot)

print("\n grouping Data set")
print(grouping)
grouping_pivot

2.3.3
{'name': ['mano', 'uma', 'krishna', 'vasantha'], 'age': [20, 21, 22, 23], 'gender': ['male', 'female', 'male', 'male'], 'salary': [10000, 20000, 30000, 40000], 'city': ['bangalore', 'chennai', 'covai', 'trichy']}
            name  age  gender  salary       city
alpha      mano   20    male   10000  bangalore
beta        uma   21  female   20000    chennai
gamma   krishna   22    male   30000      covai
delta  vasantha   23    male   40000     trichy
filter Data set
           name  age gender  salary    city
delta  vasantha   23   male   40000  trichy

 sorted Data set
           name  age  gender  salary       city
delta  vasantha   23    male   40000     trichy
gamma   krishna   22    male   30000      covai
beta        uma   21  female   20000    chennai
alpha      mano   20    male   10000  bangalore

 grouping Data set
        salary        age
gender
female   20000  21.000000
male     80000  21.666667

 grouping Pivot table
          salary
name
krishna    30000
mano       10000
uma        20000
vasantha   40000

 grouping Data set
        salary        age
gender
female   20000  21.000000
male     80000  21.666667

          salary
name
krishna    30000
mano       10000
uma        20000
vasantha   40000